body {
    background-color: rgb(52, 59, 59);
}

.head {
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    opacity: 0%;
    transition: opacity 300ms;
}

.head > div {
    margin:auto;
}

.head > div > a:link, a:visited {
    color:black;
    text-decoration: none;
}

.head > div > a:hover {
    color: gray;
}

.head:hover {
    opacity: 100%;
    transition: opacity 750ms;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-container > div {
  text-align: center;
}
